@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: white;
  color: #111827;
}

.dark body {
  background: #030712;
  color: #f9fafb;
}

::selection {
  background: #2563eb;
  color: white;
}